@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
    --dark-1: rgb(20, 16, 16);
    --dark-2: rgb(34, 29, 29);
    --dark-3: rgba(77, 73, 73, 0.671);
    --base-1: rgb(214, 131, 48);
    --base-2: rgb(234, 164, 0);
    --base-3: rgba(255, 166, 0, 0.86);
    --base-4: #955b108a;
    --bor: 1px solid var(--base-2);

    --bor: 1px solid var(--base-2);

    background-color: var(--dark-2);
    color: var(--base-2);
    
    font-size: 16px;
}
html * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}
/* dev */
#dev {
    display: flex;
    gap: 10px;
}

body > header {
    background-color: var(--dark-1);
}

/*  */
main {
    padding: 2%;
}
/*  */
#main-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#main-container>div:not(#instructions-container) {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 700px) {
    #main-container {
        display: flex;
        flex-direction: column;
    }
}

/* hub */
.hub-container {
    max-width: 300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.hub-container div {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}
.hub-container span {
    width: 50px;
    min-width: 50px;
    text-transform: uppercase;
    margin-right: 10px;
}
span {
    text-transform: uppercase;
}
.hub-container p {
    width: min-content;
    height: min-content;
    text-transform: uppercase;
    align-self: end;
}
/*  */
#canvas-container {
    width: 330px;
    height: 300px;
}
canvas {
    border: var(--bor);
}


/* screen */
.screen {
    position: absolute;
    width: 330px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-3);
    border: var(--bor);
}

#screen * {
    text-transform: uppercase;
}
#screen-content {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#screen-content header {
    padding: 0;
}
#screen-content h2 {
    overflow-wrap: normal;
}
#screen-content button {
    width: 100%;
}
#lvls-list {
    list-style: none;
}

#screen-content li:hover {
    text-shadow: 1px 1px 1px var(--base-2);
}

#message {
    padding: 0 8%;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-1);
}

#form {
    max-width: 80%;
}

.hidden {
    display: none;
    visibility: hidden;
}

/*  */
#keys-container {
    font-size: 1rem;
    margin-right: 10px;
}
#keys-container span {
    margin-right: 10px;
}
#instructions-container {
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#instructions-container header {
    word-wrap: unset;
    margin: 0;
    padding: 0;
}
#tutorial-container > div {
    margin-bottom: 10px;
}

/*  */
button, input[type=submit] {
    padding: 4px;
    background-color: var(--base-1);
    border: var(--bor);
    border-radius: 8%;
    font-size: large;
    color: var(--dark-1);
}

button:hover, input[type=submit]:hover {
    padding: 4px;
    background-color: var(--base-3);
    border: var(--bor);
    border-radius: 8%;
    box-shadow: 1px 1px 1px rgba(255, 166, 0, 0.685);
}

#dev>button {
    padding: 0 4px !important;
    font-size: 0.7rem;
}
