@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
    --dark-1:rgb(20, 16, 16);
    --dark-2: rgb(34, 29, 29);
    --dark-3: rgba(77, 73, 73, 0.671);
    --base-1: rgb(167, 108, 46);
    --base-2: rgb(179, 126, 1);
    --base-3: rgba(255, 166, 0, 0.685);
    --base-4: #955b108a;

    --bor: 1px solid var(--base-2);

    background-color: var(--dark-2);
    color: var(--base-2);
}
html * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /* border: var(--bor); */
    font-family: 'Do Hyeon', sans-serif;
    /* font-size: 20px; */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}
/* dev */
#dev {
    display: flex;
    gap: 10px;
}

body > header {
    height: 90px;
    background-color: var(--dark-1);
}
/*  */
main {
    padding: 2%;

}
/*  */
#main-container {
    display: flex;
    flex-direction: row;
}

/* hub */
.hub-container {
    max-width: 300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.hub-container div {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}
.hub-container span {
    width: 50px;
    min-width: 50px;
    text-transform: uppercase;
    margin-right: 10px;
}
.hub-container p {
    width: min-content;
    text-transform: uppercase;
}
/*  */
#canvas-container {
    width: 330px;
    height: 300px;
}
canvas {
    border: var(--bor);
}

#ball {
    width: 20px;
    height: 20px;
    position: relative;

    background-color: var(--base-3);
    border-radius: 100%;
}
/* screen */
#screen {
    position: absolute;
    box-sizing: border-box;
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-3);
    border: var(--bor);
}
#screen * {
    text-transform: uppercase;
}
#screen-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#message {
    padding: 0 8% 8% 8%;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-1);
}
.hidden {
    display: none;
    visibility: hidden;
}

/*  */
button {
    padding: 4px;
    background-color: var(--base-1);
    border: var(--bor);
    border-radius: 8%;
    font-size: large;
    color: var(--dark-1);
}
button:hover {
    padding: 4px;
    background-color: var(--base-1);
    border: var(--bor);
    border-radius: 8%;
    box-shadow: 1px 1px 1px rgba(255, 166, 0, 0.685);
}

body > footer {
    padding: 4%;
    background-color: var(--dark-1);
}
body > footer i {
    margin-right: 2%;
}
body > footer hr {
    width: 40%;
    margin: 2% 0;
}
