html {
    --color-1: rgb(139, 98, 0);
    --bg-dark-1: rgb(34, 29, 29);
    --bg-dark-2: rgb(27, 21, 21);
    --bg-color-1: #955b108a;
    --bg-color-2: rgb(167, 108, 46);
    --bor: 1px solid var(--color-1);

    background-color: var(--bg-dark-1);
    color: var(--color-1);
}
html * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /* border: var(--bor); */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}
/* dev */
#dev {
    display: flex;
    gap: 10px;
}

main {
    padding: 2%;
}
body > header {
    height: 90px;
    background-color: var(--bg-dark-2);
}
/*  */
#test-container {
    width: 320px;
    height: 220px;
    background-color: var(--bg-dark-2);
}
#ball {
    width: 20px;
    height: 20px;
    position: relative;

    background-color: var(--bg-color-1);
    border-radius: 100%;
}
#context {
    width: 100%;
    height: 100%;
    border: var(--bor);
}
/* hub */
.hub-container {
    max-width: 300px;
    padding: 2%;
    display: flex;
    gap: 2%;
}
.hub-container div {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
    display: flex;
}
.hub-container span {
    text-transform: uppercase;
    margin-right: 10px;
}
.hub-container p {
    width: 50px;
    min-width: 50px;
    text-transform: uppercase;
}
#lifes {
    display: flex;
}
/*  */
#canvas-container {
    width: 330px;
    height: 300px;
}
canvas {
    border: var(--bor);
}

#screen {
    position: absolute;
    width: 330px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 73, 73, 0.671);
    border: var(--bor);
}
.hidden {
    display: none;
    visibility: hidden;
}

/*  */
button {
    padding: 4px;
    background-color: var(--bg-color-2);
    border: var(--bor);
    border-radius: 8%;
}
button:hover {
    padding: 4px;
    background-color: var(--bg-color-2);
    border: var(--bor);
    border-radius: 8%;
    box-shadow: 1px 1px 1px rgba(255, 166, 0, 0.685);
}