/* 
screen: appareils a écran
all: tout appareils

width, height: viewport
orientation

si appareil peut survoler:
@media (hover: hover) { ... }

360
500
*/

@media screen {
    hr#vertical {
        display: none;
    }
    /* MAIN CONTAINER - ALL NODES ARE INCLUDES HERE */
    #main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    /* THE DIV INCLUDING HUB AND SCREEN */
    #main-container>div:not(#instructions-container) {
        display: flex;
        flex-direction: row;
        /* width: 90%;
        max-width: 90%; */
    }

    /* HUB */
    .hub-container {
        /* width: 100%; */
        /* min-width: 120px; */
        max-width: 200px;
        padding: 2%;
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
    .hub-container div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hub-container span {
        width: 100px;
        /* min-width: 100px; */
        text-transform: uppercase;
        margin-right: 10px;
    }
    .hub-container p {
        width: min-content;
        height: min-content;
        text-transform: uppercase;
        align-self: end;
    }

    /* INSTRUCTIONS MODE AND GAME */
    #instructions-container {
        padding: 2%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    #instructions-container header {
        word-wrap: unset;
        margin: 0;
        padding: 0;
    }
    #instructions-container hr {
        margin: 2% 0;
    }
}

@media screen and (max-width: 800px) {
    #main-container {
        font-size: 0.9rem;
    }

    #main-container>div:not(#instructions-container) {
        justify-content: center;
    }

    #instructions-container {
        min-width: 120px;
        padding: 4% 2% 4% 4%;
    }

    #instructions-container *{
        /* text-align: center; */
    }
}

/* MAX 720 */
@media screen and (max-width: 720px) {
    #main-container>div:not(#instructions-container) {
        justify-content: center;
    }
    .hub-container {
        max-width: 100px;
    }
    .hub-container span {
        width: unset;
        max-width: unset;
    }
}

/* FLEX SET TO COLUMN */
@media screen and (max-width: 640px) {
    hr#vertical {
        display: flex;
        width: 0.5px;
        height: 100%;
    }
    hr#horizontal {
        display: none;
    }

    #main-container>div:not(#instructions-container) {
        max-width: var(--canvas-size);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hub-container {
        max-height: 13vh;
        min-height: 61px;
        flex-flow: column wrap;
        justify-content: end;
        /* min-width: 63vw; */
        min-width: var(--canvas-size);
    }
    .hub-container div {
        width: 30%;
    }
    .hub-container span {
        width: 50%;
        min-width: 50%;
    }

}



/* @ */
/* CANVAS */
#canvas-container {
    /* width: 40vw !important;
    height: 40vh !important; */
    min-width: 330px;
    min-height: 330px;

    display: flex;
    justify-content: center;
}
canvas {
    border: var(--bor);
}


/* @ */
/* SCREEN */
.screen {
    position: absolute;
    width: 330px;
    height: 330px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-3);
    border: var(--bor);
}
#screen * {
    text-transform: uppercase;
}
#screen-content {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#screen-content header {
    padding: 0;
}
#screen-content h2 {
    overflow-wrap: normal;
}

#lvls-list {
    list-style: none;
}
#screen-content li:hover {
    text-shadow: 1px 1px 1px var(--base-2);
}

#message {
    padding: 0 8%;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-1);
}

#form {
    display: flex;
    gap: 4px;
}
#form input[type=text] {
    width: 40%;
    background-color: transparent;
    height: fit-content;
    padding: 0 4px;
    color: var(--base-3);
    font-size: 1rem;
    border: 1px solid var(--base-3);
}
#form input[type=submit] {
    font-size: 1rem;
}



